!!!
%html
  %head
    %title Freya
    %script{:src => "jquery-1.5.2.min.js", :type => "text/javascript"}
    %script{:src => "application.js", :type => "text/javascript"}
    %link{:href => "style.css", :type => "text/css", :media => "screen", :rel => "stylesheet"}
  %body
    %table#costs
      %thead
        %tr
          %th Anfangswert
          %td 400
      %tbody
      %tfoot
        %tr
          %th Übrige GP
          %td 400
  
    %form.basis_information
      %label{:for => "name"} Name/Alias
      %input{:type => "text", :name => "name"}
      %label{:for => "metatype"} Metatyp
      %select{:name => "metatype", :id => "metatype"}
        %option{:value => "human"} Mensch
        %option{:value => "orc"} Ork
        %option{:value => "dwarf"} Zwerg
        %option{:value => "elf"} Elf
        %option{:value => "troll"} Troll
      %label{:for => "age"} Alter
      %input{:type => "text", :name => "age"}
      %label{:for => "gender"} Geschlecht
      %input{:type => "text", :name => "gender"}
      %label{:for => "lifestyle"} Lebensstil
      %input{:type => "text", :name => "lifestyle"}
      %label{:for => "special_profession"} Spezielle Profession
      %select{:type => "text", :name => "special_profession", :id => "special_profession"}
        %option{:value => "none", :cost => 0} Keine
        %option{:value => "magicians", :cost => 15} Zauberer
        %option{:value => "adept", :cost => 5} Adept
        %option{:value => "mystic_adept", :cost => 10} Magieradept
        %option{:value => "technomancer", :cost => 5} Technomancer
    
    %form#attributes
      %section
        %h2 Körperliche Attribute
        %label{:for => "body"} Konstitution
        %input{:type => "text", :name => "body"}
        %label{:for => "agility"} Geschicklichkeit
        %input{:type => "text", :name => "agility"}
        %label{:for => "reaction"} Reaktion
        %input{:type => "text", :name => "reaction"}
        %label{:for => "strength"} Stärke
        %input{:type => "text", :name => "strength"}
      %section    
        %h2 Geistige Attribute
        %label{:for => "charisma"} Charisma
        %input{:type => "text", :name => "charisma"}
        %label{:for => "intuition"} Intuition
        %input{:type => "text", :name => "intuition"}
        %label{:for => "logic"} Logik
        %input{:type => "text", :name => "logic"}
        %label{:for => "willpower"} Willenskraft
        %input{:type => "text", :name => "willpower"}
    
    %form#special_attributes
      %h2 Spezielle Attribute
      %label{:for => "edge"} Edge
      %input{:type => "text", :name => "edge"}
      %label{:for => "magic"} Magie/Resonanz
      %input{:type => "text", :name => "magic"}
    
    %form#calculated_attributes
      %h2 Berechnete Attribute
      %label{:for => "essence"} Essenz
      %input{:type => "text", :name => "essence", :disabled => "true", :value => 6}
      %label{:for => "initiative"} Initiative
      %input{:type => "text", :name => "initiative", :disabled => "true"}
      %label{:for => "physical_damage"} Körperliche Schadensleiste
      %input{:type => "text", :name => "physical_damage", :disabled => "true"}
      %label{:for => "stun_damage"} Geistige Schadensleiste
      %input{:type => "text", :name => "stun_damage", :disabled => "true"}
      
    %form#good_qualities
      %h2 Gabe
      %table
        %thead
          %tr
            %th Name
            %td GP
        - 5.times do |number|
          %tr
            %th
              %input{:type => "text", :name => "good_quality_#{number}"}
            %th
              %input{:type => "text", :name => "good_quality_#{number}_cost", :class => "quality_cost"}
      
    %form#bad_qualities
      %h2 Handicap
      %table
        %thead
          %tr
            %th Name
            %td GP
        - 5.times do |number|
          %tr
            %th
              %input{:type => "text", :name => "bad_quality_#{number}"}
            %td
              %input{:type => "text", :name => "bad_quality_#{number}_earn", :class => "quality_earn"}
    
    %form#skill_groups
      - @skill_groups.each do |group, members|
        %table
          %thead
            %tr
              %th= group
              %td
                %input{:type => "text", :name => group, :value => 0}
              %td
          %tbody
            - members.each do |member|
              %tr
                %th= member
                %td
                  %input{:type => "text", :name => "relative_#{member}", :class => "relative", :value => 0}
                %td
                  %input{:type => "text", :name => "absolute_#{member}", :class => "absolute", :disabled => "true", :value => 0}
                
    %form#connections
      %h2 Connections
      %table
        %thead
          %tr
            %th Name
            %td Einfluss
            %td Loyalität
        - 5.times do |number|
          %tbody
            %tr
              %th
                %input{:type => "text", :name => "connections_#{number}"}
              %td
                %input{:type => "text", :name => "connections_#{number}_cost_1", :class => "connections"}
              %td
                %input{:type => "text", :name => "connections_#{number}_cost_2", :class => "connections"}
    
    %form#nuyen
      %h2 Nuyen &yen;
      %label{:for => "nuyen"} Nuyen
      %input{:type => "text", :name => "nuyen", :disabled => "true"}